:root {
    --primary-color: #786452;
    --text-color: #fff;
    --font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

:root {
    background-color: var(--primary-color);
    color: var(--text-color);
    font-family: var(--font);
    text-align: center
}

#bar {
    background-color: var(--text-color);
    color: var(--primary-color);
    width: 100%;
    height: 80px;
}

#bar > img:first-child {
    width: 64px;
    height: 64px;
    margin-top: 8px;
    margin-left: 8px;
}